<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Pascal's briwates </title>

  </head>


  <body>
    <nav class="navbar navbar-dark bg-secondary justify-content-between">
        <a class="navbar-brand text-white" href="#" >Pascal's <img class="img-fluid mh-100 mw-100" src="{{url_for('static', filename='briwa.png')}}" alt="briwa"></a>
        <form class="form-inline" method="post">
            {{ form.csrf_token }}
            {{ form.numRow(placeholder="Enter row number here") }}
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Go</button>
          
        </form>
    </nav>

    <div class="container-fluid min-vh-100">
    <div class="row justify-content-center">
        <div class="col-12 p-0">
            <div class="jumbotron bg-dark text-white min-vh-100 text-center m-0 bg-info d-flex flex-column justify-content-center">
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="errors text-center">
                            {% if form.numRow.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for error in form.numRow.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if pascal %}
                    <p class="lead">
                        {% for row in pascal %}
                            <div class="text-center">
                                    {% for element in row %}
                                        <div class="mh-100 mw-100 d-inline-block" >
                                            <img class="img-fluid h-100 w-100" src="{{url_for('static', filename='briwa.png')}}" alt="briwa"/>
                                            <div class=" h-100 w-100 justify-content-center"> {{ element }} </div>
                                        </div>
                                    {% endfor %}
                            </div>
                        {% endfor %}
                    </p>

                {% endif %}

            </div>
        </div>
    </div>
    </div>


  <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </body>
</html>